/* Blog post grid layout */
.blog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* Space between grid items */
    padding: 0px 0px 0px 20px;
}




@media (max-width: 630px) {
  .blog-list {
      grid-template-columns: 1fr; /* Change to 1 column */
  }
}

/* Blog post item styling */
.item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.item img {
  max-width: 100%;
  border-radius: 5px;
}

.item h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.item .excerpt {
  margin: 10px 0;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-number {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.page-number.active {
  background-color: #0056b3;
}

.page-number:hover {
  background-color: #0056b3;
}

.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}
.grid .item {
  width: 33.3%;
  padding: 20px;
  background: #f5f5f5;
  box-sizing: border-box;
}
